body {
    margin: 0;
}

#header {
    color: white;
    background-color: #222222;
    height: 50px;
    display: flex;
    align-items: center;
}

#header>h2 {
    margin-left: 20px;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
}

#main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#upper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 75%;
}

#pay-container {
    display: flex;
    justify-content: space-between;
}

#bank {
    justify-content: space-between;
}

#outer-balance,
#outer-loan {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#outer-loan {
    display: none;
}

#work {
    justify-content: space-between;
}

#laptop-display {
    display: flex;
    flex-direction: row;
    height: 50%;
    margin-top: 20px;
    width: 71%;
    justify-content: space-between;
}

#laptop-description {
    display: flex;
    flex-direction: column;
}

#laptop-price {
    display: flex;
    flex-direction: column;
    font-weight: bold;
    font-size: xx-large;
}

#laptop-information {
    position: relative;
    width: 50%;
}

#laptop-price-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-right: 50px;
    width: 15%;
}

button {
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    transition-duration: 0.3s;
    height: 60px;
    border-radius: 8px;
    color: black;
}

.box {
    width: 100%;
    height: 300px;
    display: flex;
    margin: 20px;
    flex-direction: column;
    border: 1px solid black;
    padding: 20px;
    box-shadow: 10px 14px 12px -11px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 10px 14px 12px -11px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 14px 12px -11px rgba(0, 0, 0, 0.75);
    border-radius: 6px;
}

#laptop-image {
    width: 200px;
    height: 200px;
    margin-left: 50px;
}

#get-loan-button,
#pay-loan-button {
    background-color: #95f2a5;
    border: 1px solid #83c694;
}

#get-loan-button:hover,
#pay-loan-button:hover {
    background-color: #ccfcee;
}

#get-loan-button:active {
    background-color: #ffffff;
}

#bank-button {
    background-color: #eaf562;
    border: 1px solid #d3df6d;
    width: 45%;
}

#bank-button:hover {
    background-color: #f7fcccd7;
}

#bank-button:active {
    background-color: #ffffff;
}

#work-button {
    background-color: #6361ea;
    border: 1px solid #6768c9;
    width: 45%;
    color: white;
}

#work-button:hover {
    background-color: #7ea6fa;
}

#work-button:active {
    background-color: #ffffff;
}

#laptop-button {
    background-color: #86c5ee;
    border: 1px solid #7db3cb;
    font-weight: bold;
}

#laptop-button:hover {
    background-color: #aed6f1;
}

#laptop-button:active {
    background-color: #ffffff;
}

#work-button-container {
    display: flex;
    justify-content: space-around;
}

#pay-loan-button {
    display: none;
}

#pay-loan-button:active {
    background-color: #ffffff;
}

p {
    margin: 0px;
}